*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: "Anek Latin", sans-serif;
    /* background-color: #EACAEA; */
}
.topheader{
    display: flex;
    justify-content: space-between;
    padding: 10px;    
    border-radius: 10px;
    height: 100px;
    width: 100%;
    background-color: #119ebe
}
.topheader .logo{
    height: 100%;
    width: 5%;
}
.topheader .logo img{
    height: 100%;
    border-radius: 100%;
    width: 100%;
}
.topheader nav{
    width: 80%;
    height: 100%;
    background-color: red;
}
.topheader .login{
    background-color: #00ff00;
    width: 15%;
}