body{
    background-color: rgb(180, 204, 250);
}
.main-content{
    background-color: rgb(208, 255, 0);
    border: 5px red solid;
    padding: 10px;
}
.main-content #Child1{
    background-color: blue;
    color: aliceblue;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
}
.main-content #Child2{
    background-color: aquamarine;
    border: 2px solid black;
    padding: 20px;

}
h3{
    background-color: rgb(0, 56, 37);
    color: aliceblue;
}